<html !DOCTYPE>
    <head>
        <meta charset="utf-8", lang="ja">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/home/pi/flaskapp/app/static/img/favicon.ico">
    </head>
    <body>
        <h1>Hello World!</h1>
        <h2>Fill in those forms to login.</h2>
        <form name="login" action="/login" method="POST">
            <input name="sID" type="text" style="display: block;">
            <input name="password" type="password" style="display: block;">
            <button type="submit">send</button>
        </form>
    </body>
</html>